--extra-index-url https://download.pytorch.org/whl/cpu
fastapi>=0.100.0
uvicorn[standard]>=0.22.0
websockets>=11.0
numpy>=1.24.0,<2.0.0
pydantic>=2.0.0
huggingface_hub>=0.21.0
transformers>=4.36.0,<4.45.0
torch>=2.0,<2.4
optimum[onnxruntime]>=1.16.0,<1.21.0
onnxruntime>=1.16.0
python-dotenv>=1.0.0
